# IMPORT LIBRARIES

In [1]:
import pandas as pd
import numpy as np

# LOADING FILES

In [2]:

df=pd.read_csv("project.csv")

In [3]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,INV-694015,SC-4038,LED Lights,46,2024-12-17,52.62,CUST-73316,USA
1,INV-469079,SC-2603,Santa Hat,27,2024-12-28,98.10,CUST-61708,USA
2,INV-272871,SC-9683,Santa Hat,7,2024-12-26,94.04,CUST-60546,USA
3,INV-748096,SC-4222,Christmas Tree,10,2024-12-09,80.73,CUST-48419,USA
4,INV-162397,SC-1628,Christmas Tree,46,2024-12-19,62.36,CUST-78370,USA
...,...,...,...,...,...,...,...,...
99995,INV-918375,SC-4046,Gift Wrap,4,2024-12-31,50.56,CUST-50152,USA
99996,INV-623708,SC-9483,Ornaments,7,2024-12-19,55.49,CUST-11412,USA
99997,INV-296024,SC-8331,Snowman Figure,27,2024-12-14,84.92,CUST-89837,USA
99998,INV-250807,SC-7893,Gift Wrap,34,2024-12-18,67.56,CUST-22213,USA
99999,INV-971958,SC-5497,Gift Wrap,16,2024-12-13,99.67,CUST-20894,USA

# NO OF ROWS AND COLUMNS

In [4]:
df.shape

(100000, 8)

# ACCESSING FIRST 5 ROWS

In [5]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,INV-694015,SC-4038,LED Lights,46,2024-12-17,52.62,CUST-73316,USA
1,INV-469079,SC-2603,Santa Hat,27,2024-12-28,98.10,CUST-61708,USA
2,INV-272871,SC-9683,Santa Hat,7,2024-12-26,94.04,CUST-60546,USA
3,INV-748096,SC-4222,Christmas Tree,10,2024-12-09,80.73,CUST-48419,USA
4,INV-162397,SC-1628,Christmas Tree,46,2024-12-19,62.36,CUST-78370,USA

# ACCESSING LAST 5 ROWS

In [6]:
df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
99995,INV-918375,SC-4046,Gift Wrap,4,2024-12-31,50.56,CUST-50152,USA
99996,INV-623708,SC-9483,Ornaments,7,2024-12-19,55.49,CUST-11412,USA
99997,INV-296024,SC-8331,Snowman Figure,27,2024-12-14,84.92,CUST-89837,USA
99998,INV-250807,SC-7893,Gift Wrap,34,2024-12-18,67.56,CUST-22213,USA
99999,INV-971958,SC-5497,Gift Wrap,16,2024-12-13,99.67,CUST-20894,USA

# DISPLAY TOTAL COLUMNS

In [7]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

# GETTING COLUMNS ONE BY ONE

In [8]:
for col in df.columns:
    print(col)

InvoiceNo
StockCode
Description
Quantity
InvoiceDate
UnitPrice
CustomerID
Country

 # RENAMING ALL COLUMN NAMES

In [9]:
d={
    "InvoiceNo":"invoice_no",
    "StockCode":"stock_code",
    "Description":"description",
    "Quantity":"quantity",
    "InvoiceDate":"invoice_date",
    "UnitPrice":"unit_price",
    "CustomerID":"customer_id",
    "Country":"country"
}

In [10]:
d

{'InvoiceNo': 'invoice_no',
 'StockCode': 'stock_code',
 'Description': 'description',
 'Quantity': 'quantity',
 'InvoiceDate': 'invoice_date',
 'UnitPrice': 'unit_price',
 'CustomerID': 'customer_id',
 'Country': 'country'}

In [11]:
df.rename(columns=d,inplace=True)

In [12]:
df.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,INV-694015,SC-4038,LED Lights,46,2024-12-17,52.62,CUST-73316,USA
1,INV-469079,SC-2603,Santa Hat,27,2024-12-28,98.10,CUST-61708,USA
2,INV-272871,SC-9683,Santa Hat,7,2024-12-26,94.04,CUST-60546,USA
3,INV-748096,SC-4222,Christmas Tree,10,2024-12-09,80.73,CUST-48419,USA
4,INV-162397,SC-1628,Christmas Tree,46,2024-12-19,62.36,CUST-78370,USA

# DATA CLEANING

# CHECKING NEW COLUMNS NAMES

In [13]:
for col in df.columns:
    print(col)

invoice_no
stock_code
description
quantity
invoice_date
unit_price
customer_id
country

# TYPES

In [14]:
df.dtypes

invoice_no       object
stock_code       object
description      object
quantity          int64
invoice_date     object
unit_price      float64
customer_id      object
country          object
dtype: object

# INFORMATION

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   invoice_no    100000 non-null  object
 1   stock_code    100000 non-null  object
 2   description   99667 non-null   object
 3   quantity      100000 non-null  int64
 4   invoice_date  100000 non-null  object
 5   unit_price    99667 non-null   float64
 6   customer_id   99667 non-null   object
 7   country       100000 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.1+ MB

# CHECKING MISSING VALUES FOR EACH COLUMN

In [16]:
df.isna()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
99995,False,False,False,False,False,False,False,False
99996,False,False,False,False,False,False,False,False
99997,False,False,False,False,False,False,False,False
99998,False,False,False,False,False,False,False,False
99999,False,False,False,False,False,False,False,False

In [17]:
df.isna().sum()

invoice_no        0
stock_code        0
description     333
quantity          0
invoice_date      0
unit_price      333
customer_id     333
country           0
dtype: int64

In [18]:
# keeping it in asscending order

In [19]:
df.isna().sum().sort_values()

invoice_no        0
stock_code        0
quantity          0
invoice_date      0
country           0
description     333
unit_price      333
customer_id     333
dtype: int64

In [20]:
# in decresing order

In [21]:
df.isna().sum().sort_values(ascending=False)

description     333
unit_price      333
customer_id     333
invoice_no        0
quantity          0
stock_code        0
invoice_date      0
country           0
dtype: int64

# EDA OVER INVOICE DATE COLUMN

df.head(2)

# CONVERTING INVOICE DATA YPE INTO DATE TIME DATATYPE

In [22]:
df['invoice_date'] = pd.to_datetime(df["invoice_date"], format="%Y-%m-%d")

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   invoice_no    100000 non-null  object
 1   stock_code    100000 non-null  object
 2   description   99667 non-null   object
 3   quantity      100000 non-null  int64
 4   invoice_date  100000 non-null  datetime64[ns]
 5   unit_price    99667 non-null   float64
 6   customer_id   99667 non-null   object
 7   country       100000 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 6.1+ MB

# DESCRIPTION

In [24]:
df.description

0            LED Lights
1             Santa Hat
2             Santa Hat
3        Christmas Tree
4        Christmas Tree
              ...
99995         Gift Wrap
99996         Ornaments
99997    Snowman Figure
99998         Gift Wrap
99999         Gift Wrap
Name: description, Length: 100000, dtype: object

In [25]:
df.description.str

In [26]:
df.description.str.lower   #uses for lower case..but here it wil not woek

In [27]:
df.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,INV-694015,SC-4038,LED Lights,46,2024-12-17,52.62,CUST-73316,USA
1,INV-469079,SC-2603,Santa Hat,27,2024-12-28,98.10,CUST-61708,USA
2,INV-272871,SC-9683,Santa Hat,7,2024-12-26,94.04,CUST-60546,USA
3,INV-748096,SC-4222,Christmas Tree,10,2024-12-09,80.73,CUST-48419,USA
4,INV-162397,SC-1628,Christmas Tree,46,2024-12-19,62.36,CUST-78370,USA

In [28]:
df["description"]=df.description.str.lower()     #it will works here

In [29]:
df.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,INV-694015,SC-4038,led lights,46,2024-12-17,52.62,CUST-73316,USA
1,INV-469079,SC-2603,santa hat,27,2024-12-28,98.10,CUST-61708,USA
2,INV-272871,SC-9683,santa hat,7,2024-12-26,94.04,CUST-60546,USA
3,INV-748096,SC-4222,christmas tree,10,2024-12-09,80.73,CUST-48419,USA
4,INV-162397,SC-1628,christmas tree,46,2024-12-19,62.36,CUST-78370,USA

# MISSING VALUES

In [30]:
df.isnull().sum().sort_values(ascending=False)

description     333
unit_price      333
customer_id     333
invoice_no        0
quantity          0
stock_code        0
invoice_date      0
country           0
dtype: int64

#  HANDLING MISSING VALUE

In [31]:
df_new=df.dropna()

In [32]:
df.isna().sum().sort_values(ascending=False)

description     333
unit_price      333
customer_id     333
invoice_no        0
quantity          0
stock_code        0
invoice_date      0
country           0
dtype: int64

In [33]:
df_new.isna().sum()

invoice_no      0
stock_code      0
description     0
quantity        0
invoice_date    0
unit_price      0
customer_id     0
country         0
dtype: int64

In [34]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99667 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   invoice_no    99667 non-null  object
 1   stock_code    99667 non-null  object
 2   description   99667 non-null  object
 3   quantity      99667 non-null  int64
 4   invoice_date  99667 non-null  datetime64[ns]
 5   unit_price    99667 non-null  float64
 6   customer_id   99667 non-null  object
 7   country       99667 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 6.8+ MB

In [35]:
df_new.describe()

           quantity                   invoice_date    unit_price
count  99667.000000                          99667  99667.000000
mean      25.429811  2024-12-15 23:15:11.784241664     52.387386
min      -49.000000            2024-12-01 00:00:00    -97.890000
25%       13.000000            2024-12-08 00:00:00     28.790000
50%       25.000000            2024-12-16 00:00:00     52.210000
75%       38.000000            2024-12-24 00:00:00     76.230000
max       50.000000            2024-12-31 00:00:00    100.000000
std       14.471127                            NaN     27.545150

# ROUNDING THE VALUES IN DF

In [36]:
df_new.describe().round(2)

       quantity                   invoice_date  unit_price
count  99667.00                          99667    99667.00
mean      25.43  2024-12-15 23:15:11.784241664       52.39
min      -49.00            2024-12-01 00:00:00      -97.89
25%       13.00            2024-12-08 00:00:00       28.79
50%       25.00            2024-12-16 00:00:00       52.21
75%       38.00            2024-12-24 00:00:00       76.23
max       50.00            2024-12-31 00:00:00      100.00
std       14.47                            NaN       27.55

# ADDING COLUMS CALLED AMOUNT SPENT

In [37]:
df_new.loc[:, "amount_spent"] = df_new["quantity"] * df_new["unit_price"]

C:\Users\sanju\AppData\Local\Temp\ipykernel_16608\589928531.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.loc[:, "amount_spent"] = df_new["quantity"] * df_new["unit_price"]

In [38]:
df_new.head(5)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country,amount_spent
0,INV-694015,SC-4038,led lights,46,2024-12-17,52.62,CUST-73316,USA,2420.52
1,INV-469079,SC-2603,santa hat,27,2024-12-28,98.10,CUST-61708,USA,2648.70
2,INV-272871,SC-9683,santa hat,7,2024-12-26,94.04,CUST-60546,USA,658.28
3,INV-748096,SC-4222,christmas tree,10,2024-12-09,80.73,CUST-48419,USA,807.30
4,INV-162397,SC-1628,christmas tree,46,2024-12-19,62.36,CUST-78370,USA,2868.56

In [39]:
for col in df_new.columns:
    print(col)

invoice_no
stock_code
description
quantity
invoice_date
unit_price
customer_id
country
amount_spent

In [40]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99667 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   invoice_no    99667 non-null  object
 1   stock_code    99667 non-null  object
 2   description   99667 non-null  object
 3   quantity      99667 non-null  int64
 4   invoice_date  99667 non-null  datetime64[ns]
 5   unit_price    99667 non-null  float64
 6   customer_id   99667 non-null  object
 7   country       99667 non-null  object
 8   amount_spent  99667 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 7.6+ MB

# REMOVING NEGITIVE VALUES IN DATAFRAME

In [41]:
con=df_new.quantity>0
df_new=df_new[con]

In [42]:
df_new.describe().round(2)

       quantity                   invoice_date  unit_price  amount_spent
count  99617.00                          99617    99617.00      99617.00
mean      25.46  2024-12-15 23:14:33.140126720       52.39       1335.22
min        1.00            2024-12-01 00:00:00      -97.89      -4596.13
25%       13.00            2024-12-08 00:00:00       28.79        424.62
50%       25.00            2024-12-16 00:00:00       52.20       1029.52
75%       38.00            2024-12-24 00:00:00       76.23       2008.96
max       50.00            2024-12-31 00:00:00      100.00       4997.00
std       14.42                            NaN       27.55       1107.35

In [43]:
df_new.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country,amount_spent
0,INV-694015,SC-4038,led lights,46,2024-12-17,52.62,CUST-73316,USA,2420.52
1,INV-469079,SC-2603,santa hat,27,2024-12-28,98.10,CUST-61708,USA,2648.70
2,INV-272871,SC-9683,santa hat,7,2024-12-26,94.04,CUST-60546,USA,658.28
3,INV-748096,SC-4222,christmas tree,10,2024-12-09,80.73,CUST-48419,USA,807.30
4,INV-162397,SC-1628,christmas tree,46,2024-12-19,62.36,CUST-78370,USA,2868.56

In [44]:
df.shape

(100000, 8)

In [45]:
df_new.shape

(99617, 9)

# RE ARRANGING THE COLUMNS FOR READABILITY

In [46]:
col_order=["invoice_no","stock_code",	"description",	"quantity","invoice_date",	"unit_price"	,"customer_id","country",	"amount_spent"]
df_new=df_new[col_order]
df_new.columns.to_list()

['invoice_no',
 'stock_code',
 'description',
 'quantity',
 'invoice_date',
 'unit_price',
 'customer_id',
 'country',
 'amount_spent']

In [47]:
df_new.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country,amount_spent
0,INV-694015,SC-4038,led lights,46,2024-12-17,52.62,CUST-73316,USA,2420.52
1,INV-469079,SC-2603,santa hat,27,2024-12-28,98.10,CUST-61708,USA,2648.70
2,INV-272871,SC-9683,santa hat,7,2024-12-26,94.04,CUST-60546,USA,658.28
3,INV-748096,SC-4222,christmas tree,10,2024-12-09,80.73,CUST-48419,USA,807.30
4,INV-162397,SC-1628,christmas tree,46,2024-12-19,62.36,CUST-78370,USA,2868.56

# ACCESSING INVOICE DATE COLUMN

In [48]:
df_new["invoice_date"]

0       2024-12-17
1       2024-12-28
2       2024-12-26
3       2024-12-09
4       2024-12-19
           ...
99995   2024-12-31
99996   2024-12-19
99997   2024-12-14
99998   2024-12-18
99999   2024-12-13
Name: invoice_date, Length: 99617, dtype: datetime64[ns]

In [49]:
df_new.invoice_date   #method 2

0       2024-12-17
1       2024-12-28
2       2024-12-26
3       2024-12-09
4       2024-12-19
           ...
99995   2024-12-31
99996   2024-12-19
99997   2024-12-14
99998   2024-12-18
99999   2024-12-13
Name: invoice_date, Length: 99617, dtype: datetime64[ns]

# ACCESSING YEAR VALUE IN INVOICE COLUMN

In [50]:
df_new["invoice_date"].dt.year

0        2024
1        2024
2        2024
3        2024
4        2024
         ...
99995    2024
99996    2024
99997    2024
99998    2024
99999    2024
Name: invoice_date, Length: 99617, dtype: int32

In [51]:
df_new["invoice_date"].dt.month

0        12
1        12
2        12
3        12
4        12
         ..
99995    12
99996    12
99997    12
99998    12
99999    12
Name: invoice_date, Length: 99617, dtype: int32

In [52]:
df_new["invoice_date"].dt.day

0        17
1        28
2        26
3         9
4        19
         ..
99995    31
99996    19
99997    14
99998    18
99999    13
Name: invoice_date, Length: 99617, dtype: int32

In [53]:
df_new.head()

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country,amount_spent
0,INV-694015,SC-4038,led lights,46,2024-12-17,52.62,CUST-73316,USA,2420.52
1,INV-469079,SC-2603,santa hat,27,2024-12-28,98.10,CUST-61708,USA,2648.70
2,INV-272871,SC-9683,santa hat,7,2024-12-26,94.04,CUST-60546,USA,658.28
3,INV-748096,SC-4222,christmas tree,10,2024-12-09,80.73,CUST-48419,USA,807.30
4,INV-162397,SC-1628,christmas tree,46,2024-12-19,62.36,CUST-78370,USA,2868.56

In [54]:
c1="year_month"

In [55]:
v1=df_new["invoice_date"].map(lambda col:100*(col.year)+col.month)
df_new.insert(loc=2,column=c1,value=v1)

In [56]:
df_new

,invoice_no,stock_code,year_month,description,quantity,invoice_date,unit_price,customer_id,country,amount_spent
0,INV-694015,SC-4038,202412,led lights,46,2024-12-17,52.62,CUST-73316,USA,2420.52
1,INV-469079,SC-2603,202412,santa hat,27,2024-12-28,98.10,CUST-61708,USA,2648.70
2,INV-272871,SC-9683,202412,santa hat,7,2024-12-26,94.04,CUST-60546,USA,658.28
3,INV-748096,SC-4222,202412,christmas tree,10,2024-12-09,80.73,CUST-48419,USA,807.30
4,INV-162397,SC-1628,202412,christmas tree,46,2024-12-19,62.36,CUST-78370,USA,2868.56
...,...,...,...,...,...,...,...,...,...,...
99995,INV-918375,SC-4046,202412,gift wrap,4,2024-12-31,50.56,CUST-50152,USA,202.24
99996,INV-623708,SC-9483,202412,ornaments,7,2024-12-19,55.49,CUST-11412,USA,388.43
99997,INV-296024,SC-8331,202412,snowman figure,27,2024-12-14,84.92,CUST-89837,USA,2292.84
99998,INV-250807,SC-7893,202412,gift wrap,34,2024-12-18,67.56,CUST-22213,USA,2297.04
99999,INV-971958,SC-5497,202412,gift wrap,16,2024-12-13,99.67,CUST-20894,USA,1594.72

# ADDING MONTH COLUMN TO DF

In [57]:
c2="month"
v2=df_new.invoice_date.dt.month
df_new.insert(loc=3,column=c2,value=v2)

In [58]:
df_new.head()

,invoice_no,stock_code,year_month,month,description,quantity,invoice_date,unit_price,customer_id,country,amount_spent
0,INV-694015,SC-4038,202412,12,led lights,46,2024-12-17,52.62,CUST-73316,USA,2420.52
1,INV-469079,SC-2603,202412,12,santa hat,27,2024-12-28,98.10,CUST-61708,USA,2648.70
2,INV-272871,SC-9683,202412,12,santa hat,7,2024-12-26,94.04,CUST-60546,USA,658.28
3,INV-748096,SC-4222,202412,12,christmas tree,10,2024-12-09,80.73,CUST-48419,USA,807.30
4,INV-162397,SC-1628,202412,12,christmas tree,46,2024-12-19,62.36,CUST-78370,USA,2868.56

# ADDING DAY IN COLUMN

In [59]:
c3="day"
v3=df_new.invoice_date.dt.day
df_new.insert(loc=4,column=c3,value=v3)

In [60]:
df_new.head()

,invoice_no,stock_code,year_month,month,day,description,quantity,invoice_date,unit_price,customer_id,country,amount_spent
0,INV-694015,SC-4038,202412,12,17,led lights,46,2024-12-17,52.62,CUST-73316,USA,2420.52
1,INV-469079,SC-2603,202412,12,28,santa hat,27,2024-12-28,98.10,CUST-61708,USA,2648.70
2,INV-272871,SC-9683,202412,12,26,santa hat,7,2024-12-26,94.04,CUST-60546,USA,658.28
3,INV-748096,SC-4222,202412,12,9,christmas tree,10,2024-12-09,80.73,CUST-48419,USA,807.30
4,INV-162397,SC-1628,202412,12,19,christmas tree,46,2024-12-19,62.36,CUST-78370,USA,2868.56

# ADDING YEAR IN COLUMN

In [61]:
c4="year"
v4=df_new.invoice_date.dt.year
df_new.insert(loc=5,column=c4,value=v4)
df_new.head()

,invoice_no,stock_code,year_month,month,day,year,description,quantity,invoice_date,unit_price,customer_id,country,amount_spent
0,INV-694015,SC-4038,202412,12,17,2024,led lights,46,2024-12-17,52.62,CUST-73316,USA,2420.52
1,INV-469079,SC-2603,202412,12,28,2024,santa hat,27,2024-12-28,98.10,CUST-61708,USA,2648.70
2,INV-272871,SC-9683,202412,12,26,2024,santa hat,7,2024-12-26,94.04,CUST-60546,USA,658.28
3,INV-748096,SC-4222,202412,12,9,2024,christmas tree,10,2024-12-09,80.73,CUST-48419,USA,807.30
4,INV-162397,SC-1628,202412,12,19,2024,christmas tree,46,2024-12-19,62.36,CUST-78370,USA,2868.56

# ADDING HOUR IN COLUMN

In [62]:
c5="hour"
v5=df_new.invoice_date.dt.hour
df_new.insert(loc=6,column=c5,value=v5)
df_new.head()

,invoice_no,stock_code,year_month,month,day,year,hour,description,quantity,invoice_date,unit_price,customer_id,country,amount_spent
0,INV-694015,SC-4038,202412,12,17,2024,0,led lights,46,2024-12-17,52.62,CUST-73316,USA,2420.52
1,INV-469079,SC-2603,202412,12,28,2024,0,santa hat,27,2024-12-28,98.10,CUST-61708,USA,2648.70
2,INV-272871,SC-9683,202412,12,26,2024,0,santa hat,7,2024-12-26,94.04,CUST-60546,USA,658.28
3,INV-748096,SC-4222,202412,12,9,2024,0,christmas tree,10,2024-12-09,80.73,CUST-48419,USA,807.30
4,INV-162397,SC-1628,202412,12,19,2024,0,christmas tree,46,2024-12-19,62.36,CUST-78370,USA,2868.56

In [63]:
df_new.shape

(99617, 14)

In [64]:
for col in df_new.columns:
    print(col)

invoice_no
stock_code
year_month
month
day
year
hour
description
quantity
invoice_date
unit_price
customer_id
country
amount_spent

# EXPLONATORY DATA ANALYSIS [EDA]

In [65]:
df_new.groupby(by=["customer_id","country"],as_index=False)["invoice_no"].count()

      customer_id country  invoice_no
0      CUST-10001     USA           1
1      CUST-10003     USA           1
2      CUST-10004     USA           1
3      CUST-10005     USA           3
4      CUST-10007     USA           1
...           ...     ...         ...
60270  CUST-99992     USA           1
60271  CUST-99994     USA           1
60272  CUST-99996     USA           2
60273  CUST-99998     USA           1
60274  CUST-99999     USA           1

[60275 rows x 3 columns]

# TOP 5 MOST ORDERS

In [66]:
orders=df_new.groupby(by=["customer_id","country","description"],as_index=False)["invoice_no"].count()

orders

In [67]:
orders.sort_values(by="invoice_no", ascending=False).head()

      customer_id country     description  invoice_no
26846  CUST-36529     USA      led lights           5
61916  CUST-71273     USA       gift wrap           4
69251  CUST-78552     USA       gift wrap           4
74561  CUST-83863     USA      led lights           4
68874  CUST-78129     USA  christmas tree           4

# HOW MUCH MONEY SPENT BY EACH CUSTOMERS

In [68]:
df_new.groupby(by=["customer_id","country"])["amount_spent"].sum()

customer_id  country
CUST-10001   USA        2184.30
CUST-10003   USA         947.98
CUST-10004   USA        2577.00
CUST-10005   USA        6296.71
CUST-10007   USA         758.88
                         ...
CUST-99992   USA         346.00
CUST-99994   USA         599.88
CUST-99996   USA        4430.53
CUST-99998   USA         217.69
CUST-99999   USA         339.30
Name: amount_spent, Length: 60275, dtype: float64

# TOP 5 MONEY SPENDERS

In [69]:
money_spent = df_new.groupby(by=["customer_id", "country","description"], as_index=False)["amount_spent"].sum()

In [70]:

money_spent.sort_values(by="amount_spent",ascending=False).head()

      customer_id country     description  amount_spent
3653   CUST-13595     USA  christmas tree      10507.93
35933  CUST-45523     USA  christmas tree       9456.58
67450  CUST-76735     USA  snowman figure       9300.10
31211  CUST-40867     USA       ornaments       9060.12
30759  CUST-40426     USA       ornaments       8916.73

# HOW MANY ORDERS IN A YEAR

In [71]:
df_new.groupby("invoice_no")["year"].unique()

invoice_no
INV-100009    [2024]
INV-100030    [2024]
INV-100051    [2024]
INV-100079    [2024]
INV-100080    [2024]
               ...
INV-999935    [2024]
INV-999940    [2024]
INV-999956    [2024]
INV-999958    [2024]
INV-999978    [2024]
Name: year, Length: 94178, dtype: object

In [72]:
df_new.groupby("invoice_no")["year"].unique().value_counts()

year
[2024]    94178
Name: count, dtype: int64

In [73]:
df_new.groupby("invoice_no")["year"].unique().value_counts().sort_index()

year
[2024]    94178
Name: count, dtype: int64

# HOW MANY ORDERS PER DAY

In [74]:
df_new.groupby("invoice_no")

In [75]:
df_new.groupby("invoice_no")["day"]

In [76]:
df_new.groupby("invoice_no")["day"].unique()

invoice_no
INV-100009    [27]
INV-100030     [3]
INV-100051    [18]
INV-100079    [20]
INV-100080    [29]
              ...
INV-999935    [15]
INV-999940    [19]
INV-999956     [4]
INV-999958    [24]
INV-999978    [18]
Name: day, Length: 94178, dtype: object

In [77]:
df_new.groupby("invoice_no")["day"].unique().value_counts()

day
[13]        2983
[4]         2972
[17]        2963
[3]         2946
[16]        2934
            ...
[15, 30]       1
[2, 22]        1
[22, 10]       1
[24, 15]       1
[2, 26]        1
Name: count, Length: 5113, dtype: int64

In [78]:
df_new.unit_price.describe()

count    99617.000000
mean        52.386923
std         27.546812
min        -97.890000
25%         28.790000
50%         52.200000
75%         76.230000
max        100.000000
Name: unit_price, dtype: float64

# HOW MANY ORDERS FOR EACH COUNTRY

In [79]:
df_new.groupby("country")

In [80]:
df_new.groupby("country")["invoice_no"]

In [81]:
df_new.groupby("country")["invoice_no"].count()

country
USA    99617
Name: invoice_no, dtype: int64

In [82]:
df_new.groupby("country")["invoice_no"].count().sort_values()

country
USA    99617
Name: invoice_no, dtype: int64

In [83]:
df_new.groupby("country")["invoice_no"].count().sort_values()

country
USA    99617
Name: invoice_no, dtype: int64

# WHICH COUNTRY HAS SPENT MORE MONEY

In [84]:
df_new.groupby("country")["amount_spent"].sum().sort_index()

country
USA    1.330110e+08
Name: amount_spent, dtype: float64